.sequencer-block {
    font-family: monospace;
    color: #D3D4D9;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-self: center;
}

.transport {
    display: flex;
    justify-content: space-around;
}

.tonerow {
    display: flex;
    justify-content: center;
}

.controls {
    font-size: 1.05rem;
    align-self: center;
    width: 300px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-family: monospace;
    margin: 1rem;
    padding: 4px 12px;
    font-size: 1.5rem;
    color: #D3D4D9;
    background: transparent;
    border: 4px double #D3D4D9;
}

button:hover {
    background: #252627;
}

button:active {
    background: #D3D4D9;
    color: #252627;
    border: 4px double #252627;
}

h3 {
    font-family: monospace;
    text-transform: uppercase;
    color: #D3D4D9;
    font-size: 2rem;
}